@import 'src/theme.scss';

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.speech-result-width {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }